<div class='container'>
  <div class='row my-4'>
    <div class='col-md-4'>
      <h1>タスク一覧</h1>
    </div>   
  </div>
  <div class='row'>
    <div class='col-md-8'>
      <table class="table">
        <thead>
         <tr>
          <th scope="col"><%= Task.human_attribute_name(:name) %></th>
          <th scope="col">製作者</th>
          <th scope="col"><%= Task.human_attribute_name(:state) %></th>
          <th scope="col"><%= Task.human_attribute_name(:start_time) %></th>
          <th scope="col"></th>
         </tr>
        </thead>
        <tbody>
          <%= render partial: 'task', collection: @tasks %>
        </tbody>
      </table>
    </div>
  </div>
</div>