<footer id='footer' class='footer-bottom mt-5'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-8 col-12 offset-sm-4'>
        <div class='copyright'>
          <p>Copyright</p>
        </div>
      </div>
    </div>
  </div>  
</footer>