.simple-calendar {
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
  }

  th {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }

  td {
    vertical-align: top;
    height: 120px;
    padding: 8px;
    border: 1px solid #ddd;
  }

  .today {
    background-color: #e2e2cf;
  }

  .past {
    background-color: #f9f9f9;
    color: #888;
  }

  .future {
    background-color: #fff;
  }

  .prev-month {
    background-color: #f9f9f9;
    color: #888;
  }

  .next-month {
    background-color: #f9f9f9;
    color: #888;
  }

  .has-events {
    margin-top: 4px;
    padding: 2px 6px;
    background-color: #d1ecf1;
    border-left: 4px solid #0c5460;
    color: #0c5460;
    font-size: 0.9em;
    border-radius: 3px;
  }

  .day {
    font-weight: bold;
    margin-bottom: 5px;
    width: auto;
  }

  .event {
    margin-top: 4px;
    padding: 2px 2px 2px 6px;
    background-color: #d1ecf1;
    border-left: 4px solid #0c5460;
    color: #0c5460;
    font-size: 0.9em;
    border-radius: 3px;
  }
}